<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dancing With My Fate</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Daincing With My Fate </h1>
    <p> If you want the truth, you have to find it yourself. </p>
    <p> But I can help you craft your strategy for finding it. </p>
    <p> The book you are holding is the culmination of many years of investigation of the world, sometimes slow and deliberate, more often manic and compulsive.  The questions that I've asked, the classes I've taken from the school of hard-knocks, and finally, the insights I’ve discerned.  A survival guide, yes, but more than that - the documentation of my philosophical, spiritual, practical metamorphoses into a creature that is uniquely at home in the toxic and seemingly nonsensical environment we find ourselves in. </p>

    {% endblock %}
  </body>
</html>
